@charset "utf-8";
@font-face {
    font-family: header;
    src: url(Agrandir-GrandHeavy.otf);
}

@font-face {
    font-family: textos;
    src: url(Agrandir-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: textos;
    font-weight: 700;
    background-color: var(--creme);
    color: var(--pretoHeader);
    overflow-x: hidden;
    transition: background 0.2s linear;
}

:root {
    --creme: #F4F4F4;
    --white: #fff;
    --black: #030303;
    --escurecido: #090909;
    --pretoHeader: #231F20;
    --hoverHeader: #E7DFD8;
}

[data-theme = "dark"] {
    --white: #090909;
    --escurecido: #fff;

    --creme: #030303;
    --black: #F4F4F4;

    --pretoHeader: #fff;
    --hoverHeader: #a0a0a0;
}

button {
    color: red;
}

/* Botão Toggle */
#chk {
    display: none;
}

.switch {
    position: relative;
    background-color: #E7DFD8;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.slider {
    position: absolute;
    background-color: #F4F4F4;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .5s ease-in-out;
}

#chk:checked ~ .switch {
    background-color: #574533;
}

#chk:checked ~ .switch .slider {
    transform: translateX(40px);
}
/* fim toggle */

/* header */
.list {
    font-family: textos;
    font-weight: 1000;
    font-size: 1.5em;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 1.4%;
}


.li-top {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.list span {
    color: #574533;
}

.main-header {
    width: 75%;
    margin-top: 2.4%;
}

li img {
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.toggle {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}
/* header fim */

/* 1 container */
main {
    margin-top: 2%;
}

.container-1 {
    width: 100%;
    height: 76vh;
}

.micro-container-1 {
    border: solid #231F20 3px;
    width: 90%;
    height: 60vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.micro-container-1 span {
    color: #574533;
}

.micro-container-1 h1 {
    font-size: 3.5em;
}

.micro-container-1 p {
    font-size: 1.5em;
    font-family: textos;
    font-weight: 200;
}

.container-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#text-container {
    width: 50%;
}

#text-container h1 {
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#img-container {
    width: 18%;
    border: solid 4px #574533;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
    -webkit-animation: shadow-pop-br 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-br 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
    
a {
    color: var(--pretoHeader);
    text-decoration: none;    
    position: relative;
    letter-spacing: 0.5px;
}

.links::after {
    content: "";
    position: absolute;
    background-color: #574533;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.links:hover::after {
    width: 100%;
}

.links {
    transition: color 1s;
}

.links:hover {
    transition: all 0.3s;
    color: var(--hoverHeader);
}



#detalhe1 {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-animation: scale-in-tr 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tr 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#detalhe2 {
    position: absolute;
    width: 20%;
    left: -11%;
    top: 60vh;
    -webkit-animation: scale-in-bl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-bl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* fim container-1 */


/* animaçoes by animista */
/* ----------------------------------------------
 * Generated by Animista on 2024-3-20 8:48:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* animaçao foto */
 @-webkit-keyframes shadow-pop-br {
    0% {
        filter: blur(2px);
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
        filter: blur(0);
      -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
              box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(-8px);
              transform: translateX(-8px) translateY(-8px);
    }
  }
  /* fim animacao foto */
  
  /* animaçao texto */
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  } 
  /* fim texto */

  /* detalhe1 */
  @-webkit-keyframes scale-in-tr {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-tr {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  /* detalhe1 fim */

  /* detalhe2 */
  @-webkit-keyframes scale-in-bl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  /* detalhe2 fim */
  
/* fim animaçoes container-1  */

.container-2 {
    padding-top: 0.3%;
    width: 100%;
    height: 250vh;
    background-color: var(--white);
}

.container-2 h2 span {
    color: #574533;
}

.container-2 h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 2%;
    -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;

}

.micro-container-2 {
    border: solid #231F20 3px;
    width: 90%;
    height: 220vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.micro-container-2 p {
    font-size: 1.5em;
    font-family: textos;
    font-weight: 200;
}
.micro-container-2 h2 {
    color: #574533;
    font-size: 3.5em;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    animation-timeline: view(block);
    animation-range: cover 0% cover 50%;
}

.card-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card-box-2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.card-box h3 {
    padding-bottom: 1.5%;
    letter-spacing: 1em;
}

/* animação textos container-2 */
/* ----------------------------------------------
 * Generated by Animista on 2024-3-28 9:3:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  @-webkit-keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  
/* animacao */

.card img {
    width: 18%;
    padding-bottom: 8%;
}

.card p {
    font-size: 1em;
    color: var(--black);
}


.card {
    background-color: #BF946E;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
    border-radius: 5%;
    height: 54vh;
    width: 20vw;
    padding: 3%;
    border: solid #574533 5px;
    margin-top: 5%;
    z-index: 1;
    transition: all 1s;
}

.card:hover {
    color: var(--creme);
    transform: scale(1.05);
    background-color: burlywood;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: solid #231F20 5px;
}


.hard {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
}

.soft {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

/* fim container-2 */

/* container-3 */
.container-3 {
    padding-top: 5%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 13%;
}

.micro-container-3 {
    border: solid #231F20 3px;
    width: 90%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 7%;
}

.micro-container-3 img {
    margin: auto;
    width: 70%;
    border-radius: 50%;
    border: 6px solid #BF946E;
    filter: grayscale(1);
    transition: all 0.6s;
}

.micro-container-3 img:hover {
    transform: scale(1.1);
    transition: all 0.6s;
    color: #574533;
    filter: none;
}

.container-3 h2 {
    width: 90%;
    margin: auto;
}

.container-3 h3 {
    padding-top: 1%;
    width: 90%;
    margin: auto;
    text-align: center;
}

.container-3 div:nth-child(1){
    margin-bottom: 5%;
}

.container-3 span {
    color: #574533;
}

/* footer */
footer {
    margin-top: 5%;
    border-top: solid 6px #231F20;
    color: #000;
}

.low-footer {
    background-color: #E7DFD8;
    text-align: center;
    font-size: 1em;
    padding: 0.6%;
}

.high-footer {
    background-color: #BF946E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3.5%;
}

.icons {
    display: flex;
    align-items: center;
    padding: 1%;
}

.icons img {
    width: 50%;
}

.icons  img:hover {
    transition: all .1s;
    transform: scale(0.9);
    filter: contrast(50%);
}
/* fim footer */

/* responsividade */
@media screen and (max-width: 768px){
    /* header */
    .list {
        width: 95%;
        font-family: textos;
        font-weight: 1000;
        font-size: 0.85em;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-right: 2%;
        margin-bottom: 3%;
    }
    .switch {
        position: relative;
        background-color: #E7DFD8;
        width: 40px;
        height: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 5px;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }

    li img {
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .list li {
        padding: 2%;
    }
    
    .slider {
        position: absolute;
        background-color: #F4F4F4;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        transition: all .5s ease-in-out;
    }
    
    #chk:checked ~ .switch {
        background-color: #574533;
    }
    
    #chk:checked ~ .switch .slider {
        transform: translateX(16px);
    }

    .main-header {
        width: 100%;
        margin-top: 2.4%;
    }

    /* header */

    /* container 1 */
    .micro-container-1 h1 {
        font-size: 1.25em;
    }

    .container-1 {
        width: 100%;
        height: 36vh;
    }

    .micro-container-1 {
        border: solid #231F20 3px;
        width: 90%;
        height: 30vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .micro-container-1 p {
        font-size: 0.85em;
        font-family: textos;
        font-weight: 200;
    }

    #img-container {
        width: 30%;
        border: solid 4px #574533;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
        -webkit-animation: shadow-pop-br 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                animation: shadow-pop-br 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
    
    
    .container-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #detalhe1 {
        width: 0%;
    }
    
    #detalhe2 {
        width: 0%;
    }
    /* container */

    /* container-2 */
    .container-2 {
        padding-top: 0.3%;
        width: 100%;
        height: 250vh;
        background-color: var(--white);
    }
    
    .container-2 h2 span {
        color: #574533;
    }
    
    .container-2 h2 {
        font-size: 3em;
        text-align: center;
        margin-top: 2%;
    }
    
    .micro-container-2 {
        border: solid #231F20 3px;
        width: 90%;
        height: 230vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .micro-container-2 p {
        font-size: 1.5em;
        font-family: textos;
        font-weight: 200;
    }
    .micro-container-2 h2 {
        color: #574533;
        font-size: 3.5em;
    }
    
    .card-box {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .card-box-2 {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .card h3 {
        margin-bottom: 5%;
        font-size: 1em;
    }
    
    .card img {
        width: 30%;
        padding-bottom: 18%;
        
        
    }
    
    .card p {
        font-size: 0.7em;
        color: var(--black);
    }

    
    .card {
        background-color: #BF946E;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items:center;
        border-radius: 5%;
        height: 40vh;
        width: 40vw;
        padding: 3%;
        border: solid #574533 5px;
        margin-top: 5%;
        
    }
    
    .hard {
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    
    .soft {
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    /* container 2 */

    /* container 3 */
    .micro-container-3 {
        border: solid #231F20 3px;
        width: 90%;
        height: 40vh;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding-left: 10.5%;
    }

    .micro-container-3 img {
        margin: auto;
        width: 80%;
        border-radius: 50%;
        border: 6px solid #BF946E;
        filter: grayscale(0);
        transition: all 0.6s;
    }

    /* container 3 */
    
    /* footer */
    .high-footer {
        background-color: #BF946E;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0;
    }
    
    .icons {
        display: flex;
        align-self: center;
        justify-content: space-around;
        margin-left: 16%;
        padding-top: 1%;
    }
    
    .icons img {
        width: 50%;
        padding: 5%;
    }
    /* footer */
}


/* @media (max-width: 1024px){
   
    .list {
        width: 95%;
        font-family: textos;
        font-weight: 1000;
        font-size: 1.5em;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-right: 2%;
        margin-bottom: 3%;
    }
    .switch {
        position: relative;
        background-color: #E7DFD8;
        width: 60px;
        height: 30px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 5px;
        transition: all .5s ease-in-out;
        cursor: pointer;
    }

    li img {
        width: 80%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .list li {
        padding: 2%;
    }
    
    .slider {
        position: absolute;
        background-color: #F4F4F4;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        transition: all .5s ease-in-out;
    }
    
    #chk:checked ~ .switch {
        background-color: #574533;
    }
    
    #chk:checked ~ .switch .slider {
        transform: translateX(25px);
    }

    .main-header {
        width: 100%;
        margin-top: 2.4%;
    }

    
    .micro-container-1 h1 {
        font-size: 2.5em;
    }

    .container-1 {
        width: 100%;
        height: 36vh;
    }

    .micro-container-1 {
        border: solid #231F20 3px;
        width: 90%;
        height: 30vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .micro-container-1 p {
        font-size: 1.3em;
        font-family: textos;
        font-weight: 200;
    }

    #img-container {
        width: 25%;
        border: solid 4px #574533;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
        -webkit-animation: shadow-pop-br 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                animation: shadow-pop-br 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }
    
    
    .container-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #detalhe1 {
        width: 15%;
    }
    
    #detalhe2 {
        width: 25%;
        top: 35vh;
        z-index: -1;

    }
    
    .container-2 {
        padding-top: 0.3%;
        width: 100%;
        height: 340vh;
        background-color: var(--white);
    }
    
    .container-2 h2 span {
        color: #574533;
    }
    
    .container-2 h2 {
        font-size: 3em;
        text-align: center;
        margin-top: 2%;
    }
    
    .micro-container-2 {
        border: solid #231F20 3px;
        width: 90%;
        height: 322vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .micro-container-2 p {
        font-size: 1.5em;
        font-family: textos;
        font-weight: 200;
    }
    .micro-container-2 h2 {
        color: #574533;
        font-size: 3.5em;
    }
    
    .card-box {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .card-box-2 {
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .card h3 {
        margin-bottom: 5%;
        font-size: 1.6em;
    }
    
    .card img {
        width: 30%;
        padding-bottom: 14%;
        
        
    }
    
    .card p {
        font-size: 1.3em;
        color: var(--black);
    }

    
    .card {
        background-color: #BF946E;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items:center;
        border-radius: 5%;
        height: 58vh;
        width: 40vw;
        padding: 3%;
        border: solid #574533 5px;
        margin-top: 5%;
        
    }
    
    .hard {
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    
    .soft {
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    
    .micro-container-3 {
        border: solid #231F20 3px;
        width: 90%;
        height: 45vh;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding-left: 10.5%;
    }

    .micro-container-3 img {
        margin: auto;
        margin-top: 1.3%;
        margin-left: 10%;
        width: 58%;
        border-radius: 50%;
        border: 6px solid #BF946E;
        filter: grayscale(0);
        transition: all 0.6s;
    }

    .container-3 h2 {
        font-size: 2em;
    }
    .container-3 h3 {
        font-size: 1.5em;
    }

    

    footer {
        margin-top: 23%;
    }

    .high-footer {
        background-color: #BF946E;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0;
    }
    
    .icons {
        display: flex;
        align-self: center;
        justify-content: space-around;
        margin-left: 28%;
        padding-top: 1%;
    }
    
    .icons img {
        width: 50%;
        padding: 5%;
    }
} */
